.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 550px;
  margin: 2.2rem 0;
}

.input-area {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-text {
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  outline: none;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-weight: 100;
  text-indent: 0.5rem;
}

button {
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90.41deg, #4e0d63 1.14%, #a311d4 100%);
}

.memeImage {
  position: relative;
  width: 550px;
  margin-bottom: 2.2rem;
}

.image {
  width: 100%;
  height: 550px;
  display: block;
  margin: 0 auto;
}

.noDisplay {
  display: none;
}

.topText {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #000;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 460px;
  left: 20px;
}

.bottomText {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #000;
  position: absolute;
  top: 460px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

@media only screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
  }

  .input-area {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .input-text {
    width: 100%;
  }

  button {
    width: 50%;
  }

  .memeImage {
    width: 275px;
  }

  .image {
    width: 100%;
    height: 300px;
  }

  .topText {
    font-size: 13px;
    bottom: 225px;
  }

  .bottomText {
    font-size: 13px;
    top: 225px;
  }
}
